@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

a {
  transition: 0.2s ease;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}
